.portrait {
  width: 90px;
  height: 90px;
  transition: 0.1s;
  overflow: hidden;
}

.portrait:hover {
  scale: 1.3;
  transition: 0.1s;
  z-index: 1;
}

.portrait img {
  height: 100%;
  width: 100%;
  transition: 0.2;
  scale: 1.2;
}

.portrait img:hover {
  scale: 1.5;
  transition: 0.2s;
}
