$background-color: rgb(12, 11, 19);

img {
  width: 100%;
}

h2 {
  color: $text-color-white;
}

#link-back {
  position: relative;
  color: $text-color-white;
}

#container-champion-details {
  display: flex;
  justify-content: center;
  background-color: rgb(12, 11, 19);
  #background {
    position: absolute;
    width: 100%;
    // height: 100%;
    // min-height: 80vh;
    // min-width: 100%;
    overflow: hidden;
    // max-height: 800px;
    mask-image: linear-gradient(rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);

    #champion-splash-art-blurred {
      position: relative;
      filter: blur(12px);
      width: 110%;
      // height: 110%;
      top: -5%;
      left: -5%;

      img {
        object-fit: cover;
      }
    }
  }

  #wrapper-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em;
    max-width: 1280px;
    #champion-splash-art {
      position: relative;
      width: 100%;
      padding-top: 2rem;
      mask-image: linear-gradient(rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 98%);
    }

    #champion-info {
      position: relative;
      background-color: rgba(0, 0, 0, 0.295);
      padding: 1.5rem;
      #champion-id {
        #champion-name {
          color: $text-color-white;
        }
        #champion-title {
          color: $text-color-white;
        }
      }
      p {
        color: $text-color-white;
      }
    }

    #champion-navigation {
      // background-color: grey;
      display: flex;
    }

    .flex-box {
      display: flex;
      // background-color: rgb(238, 127, 127);
    }

    .flex-box-stats {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      .stats {
        // background-color: orange;
        position: relative;
        margin: 0.3em;
        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}
